.HolderContainer {
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;    
    width: 100vw;          
}

.Holder-Content-Container {
    flex: 1;           
    background-color: #2C2638;
    transition: width 0.4s ease; 
}
.Holder-Content-Container-top-ele{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2vw;
    gap: 1vw;
}
.HolderContainer-logo-name-flex-placer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.HolderContainer-logo-name{
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 1.3vw;
    cursor: pointer;
}

.hrline{
    width: 100%;
    height: 0.01vw;
    background-color: rgb(90, 90, 90);
}
.HolderContainer-User-Login {
    cursor: pointer;
    padding: 0.7vw 1vw;
    border-radius: 3vw;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.08);
    border: 0.01vw solid rgb(93, 92, 92);
    backdrop-filter: blur(1.2vw);
    -webkit-backdrop-filter: blur(1.2vw);
    transition: all 0.3s ease;
}
.HolderContainer-User-Login:hover{
    background: rgba(255, 255, 255, 0.118);   
    border-color: rgba(255, 255, 255, 0.35); 
}




.holder-user-image{
    height: 0.9vw;
}
.holder-user-name{
    font-family: 'Montserrat';
    font-weight: 300;
    color: white;
    font-size: 0.8vw;
}
.Search-Bar-Container{
    position: absolute;
    bottom: 1vw;
    margin-left: 21vw;
}
.welcome-exit-animation {
  animation: welcomeSlideUp 0.7s ease forwards;
}

@keyframes welcomeSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5vw);
  }
}


@media(max-width:500px){
    .Holder-Content-Container-top-ele{
        padding: 3vw;
        padding-top: 4vw;
    }
    .HolderContainer-logo-name{
        font-size: 5vw;
    }
    .hrline{
        margin-top: 2vw;
    }
    .HolderContainer-User-Login {
        padding: 1.5vw 2.2vw;
        border-radius: 7vw;
        gap: 1.5vw;
    }
    .holder-user-image{
        height: 3vw;
    }
    .holder-user-name{
        font-size: 3vw;
    }
}