.login-page-container {
    background-color: #2C2638;
    height: 100vh;
    padding: 4vw;
    display: flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
}
.login-page-center-container{
    height: 40vw;
    width: 70vw;
    display: flex;
     backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(82, 82, 82, 0.12); /* transparent glass */
    border-radius: 1vw;
    border: 1px solid rgba(87, 87, 87, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.login-page-left-container,.login-page-right-container{
    width: 35vw;
    height: 100%;
}

.login-page-left-container{
    /* background-color: rgb(129, 175, 215); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:2vw ;
    box-sizing: border-box;
}

.login-page-left-img{
    background-image: url('../Resources/loginleftimage.png');
    height: 90%;
    width: 30vw;
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-page-left-realimg{
    height: 3.5vw;
}
.login-page-left-img-h1{
    margin-top: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    color: white;
    font-size: 2.2vw;
    text-align: center;
    width: 15vw;
}
.login-page-right-container{
    /* background-color: #453a5c; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left:2vw ;
    box-sizing: border-box;
}
.right-logo-name-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}
.login-page-right-logo{
    height: 3vw;
}
.login-page-right-logoname{
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    font-size: 1.2vw;
}
.Login-right-Heading{
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    font-size: 2.2vw;
}
.Login-right-Signup{
    display: flex;
    flex-direction: column;
}
.Login-right-Signup-form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 2vw;
}

.Login-right-Signup-name-row {
    display: flex;
    gap: 1vw;
    width: 27vw;
}

.Login-right-Signup-input-half {
    width: 100%;
    height: 2.5vw;
    background-color: #35303e;
    border: 0.1vw solid rgba(221, 221, 221, 0.25);

    outline: none;
    border-radius: 0.8vw;
    color: white;
    font-size: 1vw;
    padding-left: 1vw;
    font-family: 'Poppins', sans-serif;
}

.Login-right-Signup-input-full {
    width: 25.7vw;
    height: 2.5vw;
    background-color: #35303e;
    border: 0.1vw solid rgba(221, 221, 221, 0.25);
    outline: none;
    border-radius: 0.8vw;
    color: white;
    font-size: 1vw;
    padding-left: 1vw;
    font-family: 'Poppins', sans-serif;
}

.Login-right-Signup-terms {
    display: flex;
    align-items: center;
    gap: 0.6vw;
    margin-top: 0.5vw;
}

.Login-right-Signup-checkbox {
    width: 1vw;
    height: 1vw;
}

.Login-right-Signup-terms-text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
    color: white;
}

.Login-right-Signup-button {
    width: 27.1vw;
    height: 3vw;
    background-color: #7C5BF0;
    border: none;
    outline: none;
    border-radius: 0.8vw;
    color: white;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 0.5vw;
    cursor: pointer;
}
.Login-right-Signup-button:hover {
    background-color: #6a4ce0;     /* Slightly darker purple */
}
.Create-ass-btn{
    width: fit-content;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    font-weight: 300;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.Login-right-Login{
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media(max-width:500px){
    .login-page-left-container{
        display: none;
    }
    .login-page-center-container{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3vw;
    }
    .login-page-right-container{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .login-page-right-logo{
        height: 10vw;
    }
    .login-page-right-logoname{
        font-size: 4.5vw;
    }
    .Login-right-Heading{
        font-size: 8vw;
        text-align: center;
    }
    .Login-right-Signup-name-row{
        width: 91%;
    }
    .Login-right-Signup-form {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .Login-right-Signup-name-row {
        gap: 2.5vw;
    }
    .Login-right-Signup-form {
        gap: 2.5vw;
    }
    .Login-right-Signup-input-half {
        height: 10vw;
        border-radius: 2vw;
        font-size: 3.5vw;
        padding-left: 2vw;
        border: 0.2vw solid rgba(221, 221, 221, 0.25);
    }
    .Login-right-Signup-input-full {
        width: 88%;
        height: 10vw;
        border-radius: 2vw;
        font-size: 3.5vw;
        padding-left: 2vw;
        border: 0.2vw solid rgba(221, 221, 221, 0.25);

    }
    .Login-right-Signup-checkbox {
        width: 3.5vw;
        height: 3.5vw;
    }
    .Login-right-Signup-terms-text {
        font-size: 3.5vw;
    }
    .Login-right-Signup-button {
        height: 10vw;
        font-size: 3.5vw;
        width: 88%;
        border-radius: 2vw;
    }
    .Create-ass-btn{
        font-size: 3.5vw;
        margin-bottom: 5vw;
    }

}