.Sidebar-Container {
    width: 18vw;
    height: 100vh;
    background-color: #262131;
    padding: 1vw;
    box-sizing: border-box;
    position: relative;
    transition: width 0.4s ease, padding 0.3s ease;
    overflow: hidden;
}

.Sidebar-Container.collapsed {
    width: 5vw;
    padding: 1vw 0.5vw;
}

.Sidebar-logo-slider-placer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Sidebar-Logo {
    height: 3vw;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.Sidebar-Logo:hover{
    transform: scale(1.03);
}

.Sidebar-Container.collapsed .Sidebar-logo-slider-placer:hover .Sidebar-Logo {
    opacity: 0;
}

.slideIcon {
    height: 1.7vw;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.slideIcon:hover{
    transform: scale(1.01);
}
.slideIcon-hidden {
    display: none;
}

.collapsed-logo-slide {
    position: absolute;
    left: 1vw;
    height: 2vw;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Sidebar-Container.collapsed .Sidebar-logo-slider-placer:hover .collapsed-logo-slide {
    opacity: 1;
}

.Sidebar-Buttons-Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw 0.5vw;
}

.Sidebar-Container.collapsed .Sidebar-Buttons-Container {
    align-items: center;
}
.Sidebar-Container.collapsed .Sidebar-logo-slider-placer {
    justify-content: center !important;
}


.NewChat-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    border-radius: 3vw;
    border: 0.1vw solid rgba(150, 150, 150, 0.25);
    width: 100%;
    height: 2vw;
    padding: 0.2vw;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1.2vw);
    -webkit-backdrop-filter: blur(1.2vw);
    transition: all 0.3s ease;
}
.NewChat-btn:hover {
    background: rgba(255, 255, 255, 0.118);   /* slightly brighter glass */
    border-color: rgba(255, 255, 255, 0.35); /* clearer border */
}
.Sidebar-Container.collapsed .NewChat-btn {
    justify-content: center;
    width: 90%;
}

.NewChat-btn h2 {
    font-family: 'Poppins';
    font-weight: 300;
    color: white;
    font-size: 0.9vw;
}

.NewChat-btn-icon-placer {
    width: 2vw;
    display: flex;
    justify-content: center;
}

.Newchaticon {
    height: 1.9vw;
}

.Searchicon {
    height: 1.6vw;
}

.SideBar-History-Container {
    /* margin-top: 2vw; */
     display: flex;
    flex-direction: column;
    height: 35vw;
}

.SideBar-History-Container-h2 {
    font-family: 'Poppins';
    font-weight: 300;
    color: white;
    font-size: 1.3vw;
    padding-bottom: 1vw;
    border-bottom: 0.1vw solid rgba(150, 150, 150, 0.25);
}
.SideBar-History-Container-li{
    display: flex;
    flex-direction: column;
    width: 100%;
     overflow-y: auto; 
}
.SideBar-History-Container-li::-webkit-scrollbar {
    width: 0.1vw;                    /* Very thin scrollbar */
}

.SideBar-History-Container-li::-webkit-scrollbar-track {
    background: transparent;
}

.SideBar-History-Container-li::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.35); 
    border-radius: 20px;                    
    transition: background 0.3s ease;      
}

.SideBar-History-Container-li::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);   
}

.SideBar-History-Container-li::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}



.SideBar-History-Container-li li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 0.5vw;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 300;
    color: rgb(181, 181, 181);
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.SideBar-History-Container-li li:hover {
    color: white;
}
.sidebar-chat-item{
    min-height: 2vw;
}
.SideBar-history-item {
  cursor: pointer;
}

.SideBar-history-item:hover {
  color: #8f8f8f;
}

.Sidebar-search-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.Sidebar-search-popup {
    width: 55vw;
    height: 25vw;
    padding: 2vw;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(1vw);
    border-radius: 1vw;
    border: 0.1vw solid rgba(255,255,255,0.25);
}
.Sidebar-search-popup-heading{
    font-family: 'Poppins';
    font-weight: 300;
    color: white;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.Sidebar-search-popup-input {
    width: 100%;
    /* padding: 1vw 2vw; */
    box-sizing: border-box;
    padding-left: 1vw;
    height: 3vw;
    font-size: 1vw;
    border-radius: 5vw;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.18);
    color: white;
}
.Sidebar-search-popup-hrline{
    height: 0.01vw;
    width: 100%;
    margin-top: 1vw;
    background-color: #595858;
}
/* Results List */
.Sidebar-search-popup-list {
    margin-top: 2vw;
    max-height: 15vw;
    overflow-y: auto;
    padding-right: 0.5vw;
}


/* For WebKit browsers (Chrome, Edge, Safari) */
.Sidebar-search-popup-list::-webkit-scrollbar {
    width: 0.1vw; /* Thin scrollbar */
}

.Sidebar-search-popup-list::-webkit-scrollbar-track {
    background: transparent; /* No track background */
}

.Sidebar-search-popup-list::-webkit-scrollbar-thumb {
    background-color: white; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges */
}

/* Remove arrows (they usually appear in IE, old Edge) */
.Sidebar-search-popup-list::-webkit-scrollbar-button {
    display: none;
}

.Sidebar-search-popup-item {

    padding: 0.5vw 1vw;
    margin-bottom: 0.5vw;
    background: rgba(171, 171, 171, 0.15);
    cursor: pointer;
    border-radius: 0.8vw;
    color: white;
    font-size: 1vw;
    font-family: 'Poppins';
    font-weight: 300;
}

.Sidebar-search-popup-item:hover {
    background: rgba(255,255,255,0.25);
}

.Sidebar-search-popup-empty {
    text-align: center;
    margin-top: 5vw;
    color: #ddd;
    font-size: 1.2vw;
}


@media(max-width:500px){

    .Sidebar-Container {
        width: 35vw;
        padding: 2vw;
    }
    .Sidebar-Container.collapsed {
        width: 13vw;
    }
    .Sidebar-Logo {
        height: 12vw;
    }
    .slideIcon {
        height: 7vw;
    }
    .Sidebar-Buttons-Container {
        margin-top: 3vw;
        gap: 3vw;
        padding: 1vw 1vw;
    }
    .NewChat-btn {
        padding-left: 1vw;
        box-sizing: border-box;
        height: 8vw;
        border-radius: 5vw;
        width: 31vw;
    }
    .NewChat-btn h2 {
        font-size: 3vw;
    }
    .NewChat-btn-icon-placer {
        width: 6vw;
    }
    .Newchaticon {
        height: 5.9vw;
    }

    .Searchicon {
        height: 5.6vw;
    }
    .SideBar-History-Container {
        /* background-color: aliceblue; */
        height: 100%;
    }
    .SideBar-History-Container-h2 {
        font-size: 3.5vw;
        padding-bottom: 3vw;
    }
    .SideBar-History-Container-li li {
        font-size: 3vw;
    }
    .collapsed-logo-slide{
        left: 3vw;
    }
    .sidebar-chat-item{
        min-height: 6vw;
    }
        .Sidebar-Container.collapsed .NewChat-btn {
        background-color: transparent;
        border: none;
    }
    .Sidebar-search-popup {
        width: 70vw;
        height: 100vw;
        padding: 2vw;
        border-radius: 4vw;
    }
    .Sidebar-search-popup-heading{
        font-size: 3.5vw;
    }
    .Sidebar-search-popup-input{
        font-size: 3.5vw;
        padding: 4vw 2vw;
        margin-top: 2vw;
        padding-left: 3vw;
    }
    .Sidebar-search-popup-item {
        padding: 2vw 1vw;
        font-size: 3vw;
        border-radius: 2vw;
        margin-bottom: 2vw;
        padding-left: 3vw;
    }
    .Sidebar-search-popup-list {
        margin-top: 2vw;
        max-height: 80vw;
    }
    /* .Newchaticon{
      height: 8.5vw;
    }
    .Searchicon{
      height: 7vw;
    } */

}