.WelcomeAni-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10vw;
    margin-top: 2vw;
}
.WelcomeAni-Container h3{
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    font-size: 1.4vw;
    margin: 0;
    margin-bottom: 1vw;
}
.WelcomeAni-Container h1{
    width: 40vw;
    text-align: center;
        font-family: 'Montserrat';
    font-weight: 500;
    color: white;
    font-size: 2.2vw;
    margin: 0;
    margin-bottom: 1vw;
}
.WelcomeAni-Container h2{
        font-family: 'Montserrat';
    font-weight: 200;
    color: white;
    font-size: 1.1vw;
    margin: 0;
}
.Loader-placer{
    margin-top: 16vw;
    margin-bottom: 2vw;
}
@media(max-width:500px){
    /* .WelcomeAni-Container{
        margin-top: 30vw;
    } */
    .WelcomeAni-Container h3{
        font-size: 4.4vw;
        margin-bottom: 2vw;
    }
    .WelcomeAni-Container h1{
        font-size: 7.2vw;
        width: 90%;
        margin-bottom: 2vw;
    }
    .WelcomeAni-Container h2{
        font-size: 3vw;
    }
    .Loader-placer{
        margin-top: 140vw;
        margin-bottom: 5vw;
    }
}